/**
  My Reads - CCS3 StyleGuide
  Author: Otavio Augusto
  github: github.com/tavioalves
  E-mail: tavioalves@gmail.com
**/

html,
body {
  font-family: 'Source Sans Pro', sans-serif;
}

.height-100 {
  min-height: 100vh;
}

.width-100 {
  width: 100%;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.flex-center {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  min-height: 75px;

  font-size: 24px;
  letter-spacing: 3.5px;

  -webkit-box-shadow: inset 0px -5px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px -5px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px -5px 10px 0px rgba(0, 0, 0, 0.25);
}

.footer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  min-height: 50px;

  font-size: 18px;

  -webkit-box-shadow: inset 0px -5px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px -5px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px -5px 10px 0px rgba(0, 0, 0, 0.25);
}

.book-section-header {
  font-size: 20px;
  font-weight: 400;
  padding-top: 20px;
  letter-spacing: 2.5px;
  text-align: center;
}

.search-section {
  width: 100%;
  padding: 30px;
  background-color: #81ECEC;
}

.error-section {
  font-size: 30px;
  color: #777;
  text-align: center;
}

.result-section {
  width: 100%;
  padding: 30px;
}

.button-section {
  top: 90%;
  right: 25px;
  z-index: 1;
  position: fixed;
}

.button-add {
  max-width: 60px;
  max-height: 60px;

  margin: 10px;
  padding: 20px;

  border: none;
  border-radius: 100%;

  background-color: #6cff60;
  color: #fff;

  cursor: pointer;

  -webkit-box-shadow: 0px 2.5px 2.5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2.5px 2.5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2.5px 2.5px 0px rgba(0, 0, 0, 0.25);
}

.button-back {
  max-width: 60px;
  max-height: 60px;

  margin-right: 20px;
  padding: 20px;

  border: none;
  border-radius: 100%;

  background-color: #EC81B7;
  color: #fff;

  cursor: pointer;

  -webkit-box-shadow: 0px 2.5px 2.5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2.5px 2.5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2.5px 2.5px 0px rgba(0, 0, 0, 0.25);
}

.book {
  position: relative;

  width: 130px;
  height: 250px;
  margin: 12.5px;
}

.book-img {
  width: 130px;
  height: 175px;
  object-fit: cover;

  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.book-title {
  font-size: 12px;
  font-weight: 400;
  margin-top: 12.5px;
  margin-bottom: 0px;
}

.book-subtitle {
  font-size: 12px;
  font-weight: 200;
  margin-top: 5px;
  margin-bottom: 0px;
  opacity: 0.5;
}

.book-selection {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  right: -15px;
  bottom: 60px;
  position: absolute;

  width: 30px;
  height: 30px;
  padding: 5px;

  border: none;
  border-radius: 100%;

  color: #fff;

  background-color: #6cff60;

  cursor: pointer;

  -webkit-box-shadow: 0px 2.5px 2.5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2.5px 2.5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2.5px 2.5px 0px rgba(0, 0, 0, 0.25);
}

.book-selection select {
  font-size: 12px;

  width: 100%;
  height: 100%;
  opacity: 0;

  position: absolute;
  right: 0px;
  top: 0px;

  cursor: pointer;
}

.search-bar {
  width: 100%;
  height: 50px;
  padding: 30px;
  font-size: 20px;

  border-radius: 50px;
  border: none;

  -webkit-box-shadow: 0px 2.5px 2.5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2.5px 2.5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2.5px 2.5px 0px rgba(0, 0, 0, 0.25);
}

.erase-search {
  top: 122.5px;
  right: 60px;

  position: absolute;
  cursor: pointer;
  color: #858585;
}

.search-instruction {
  font-size: 25px;
  color: #777;
}