/**
  My Reads - CCS3 StyleGuide
  Author: Otavio Augusto
  github: @tavioalves
  E-mail: tavioalves@gmail.com
**/

html,
body {
  font-family: 'Open Sans', sans-serif;
}

.height-100 {
  min-height: 100vh;
}

.flex-collumn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.flex-center {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  min-height: 75px;

  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 2.5px;

  -webkit-box-shadow: inset 0px -5px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px -5px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px -5px 10px 0px rgba(0, 0, 0, 0.25);
}

.footer {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  min-height: 50px;

  font-size: 16px;

  -webkit-box-shadow: inset 0px -5px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px -5px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px -5px 10px 0px rgba(0, 0, 0, 0.25);
}

.book-section-header {
  font-size: 20px;
  font-weight: 400;
  padding-top: 20px;
  letter-spacing: 2.5px;
  text-align: center;
}

.to-read {
  background-color: #81ECEC;
}

.reading {
  background-color: #81B7EC;
}

.read {
  background-color: #8181EC;
}

.to-read:hover {
  transition: background-color 0.5s;
}

.reading:hover {
  transition: background-color 0.5s;
}

.read:hover {
  transition: background-color 0.5s;
}

.button-section {
  top: 85%;
  right: 25px;
  z-index: 1;
  position: fixed;
}

.button-rounded {
  width: 65px;
  height: 65px;
  margin: 10px;
  padding: 5px;

  border: none;
  border-radius: 100%;

  color: #fff;

  cursor: pointer;

  -webkit-box-shadow: 0px 2.5px 2.5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2.5px 2.5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2.5px 2.5px 0px rgba(0, 0, 0, 0.25);
}

.add {
  background-color: #6cff60
}

.search {
  background-color: #777;
}

.book {
  position: relative;

  width: 130px;
  height: 250px;
  margin: 12.5px;
}

.book-img {
  width: 130px;
  height: 175px;
  object-fit: cover;

  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.book-title {
  font-size: 10px;
  font-weight: 400;
  margin-top: 7.5px;
  margin-bottom: 0px;
}

.book-subtitle {
  font-size: 10px;
  font-weight: 200;
  margin-top: 5px;
  margin-bottom: 0px;
  opacity: 0.5;
}

.book-selection {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;

  right: -20px;
  bottom: 55px;
  position: absolute;

  width: 30px;
  height: 30px;
  padding: 5px;

  border: none;
  border-radius: 100%;

  color: #fff;

  background-color: #6cff60;

  cursor: pointer;

  -webkit-box-shadow: 0px 2.5px 2.5px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 2.5px 2.5px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 2.5px 2.5px 0px rgba(0, 0, 0, 0.25);
}

.book-selection select {
  font-size: 12px;

  width: 100%;
  height: 100%;
  opacity: 0;

  position: absolute;
  right: 0px;
  top: 0px;

  cursor: pointer;
}